@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins";
}

.btn-danger {
    padding: 10px 30px;
    border-color: #DC3545;
    background-color: #DC3545;
    border-radius: 10px;
    color: white;
}

.btn-outline-danger {
    padding: 10px 20px;
    border-color: #DC3545;
    background-color: white;
    border-radius: 10px;
    color: #DC3545;
}

/* Navbar */

.nav-item .nav-link {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px
}

.scroll-nav-active {
    background-color: white;
    /* border-bottom: 1px solid #DC3545; */
    color: black;
    box-shadow: 1px 1px 11px -1px rgba(1,1,1,0.8);
}

.text-nav-active{
    color: black;
}

/* Hero */

#hero {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 25%),
                url('../../assets/images/bg-hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.hero-title {
    padding-top: 160px;
    color: white;
}

.hero-text {
    font-size: 60px;
    font-weight: 600;
}

@media screen and (max-width: 550px) {
    .hero-text {
        font-size: 30px;
        font-weight: 600;
    }
}

/* join */
.stripe {
    height: 5px;
    width: 40px;
    background-color: #DC3545;
}

/* Video */
#video {
    background-image: url('../../assets/images/il-bg-video.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

/* Foto */
#foto {
    background-attachment: flex;
    background-position: top;
    background-size: cover;
    height: 500px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax {
    background-image: url('../../assets/images/il-bg-foto.jpeg');
}

.stripe-putih {
    width: 40px;
    height: 5px;
    background-color: #fff;
}
